<p id="notice"><%= notice %></p>

<a href="/auth/facebook"><h1>Log in with Facebook</h1></a>
<h2> and never look back</h2>

<div class="wrapper">

  <div class="info-bar">
    <div class="container">
      <a class="icon cmn-tut" data-title="Back To Tutorial" href="http://callmenick.com/?p=718"></a>
      <a class="icon cmn-prev" data-title="Pevious Demo - Revealing Content Overlays With CSS3 Transitions" href="http://callmenick.com/tutorial-demos/revealing-content-overlays/"></a>
      <!-- <a class="icon cmn-next" data-title="Next Demo - " href="http://callmenick.com/tutorial-demos/..."></a> -->
      <a class="icon cmn-download" data-title="Download Source" href="http://callmenick.com/tutorial-demos/simple-parallax-effect/simple-parallax-effect-source.zip"></a>
      <a class="icon cmn-archive" data-title="Tutorial Archives" href="http://callmenick.com/category/tutorials/"></a>
    </div>
  </div>

  <main>
    <section class="module content">
        <div class="container">
          <h2 style="text-align: center;">First there was</h2>
        </div>
      </section>

      <section class="module parallax parallax-1">
        <div class="container">
          <h1>nothing</h1>
        </div>
      </section>

      <section class="module content">
        <div class="container">
          <h2 style="text-align: center;">But now there is</h2>
        </div>
      </section>

      <section class="module parallax parallax-2">
        <div class="container">
          <h1>something</h1>
        </div>
      </section>

      <section class="module content">
        <div class="container">
          <h2>I want to eat</h2>
        </div>
      </section>

      <section class="module parallax parallax-3">
        <div class="container">
          <h1>everything</h1>
        </div>
      </section>

      <section class="module content">
        <div class="container">
          <h2>
            .
          </h2>
          <p>
            .
          </p>
          <p>
            .
          </p>
          <p>
            .
          </p>
          <p>
            .
          </p>
        </div>
      </section>
      <section class="module parallax parallax-3">
        <div class="container">
          <h1>Hungr.</h1>
        </div>
      </section>

      <section class="module content">
        <div class="container">
          <h2>
            
          </h2>
          <p>
            
          </p>
          <p>
            
          </p>
          <p>
            
          </p>
          <p>
            
          </p>
        </div>
      </section>

  </main><!-- /main -->

  <footer>
    <div class="container">
      <div class="asides clearfix">
        <aside>
          <nav>
            <ul>
              <li><a href="http://callmenick.com/">Welcome</a></li>
              <li><a href="http://callmenick.com/category/tutorials">Tutorials</a></li>
              <li><a href="http://callmenick.com/category/snippets">Snippets</a></li>
              <li><a href="http://callmenick.com/category/articles">Articles</a></li>
              <li><a href="http://callmenick.com/category/resources">Resources</a></li>
            </ul>
          </nav>
        </aside>
        <aside>
          <nav>
            <ul>
              <li><a href="http://callmenick.com/archive/">Archive</a></li>
              <li><a href="http://callmenick.com/about">About</a></li>
              <li><a href="http://callmenick.com/contact">Contact</a></li>
              <li><a href="http://callmenick.com/subscribe">Subscribe</a></li>
            </ul>
          </nav>
        </aside>
        <aside class="logo">
          <a href="/auth/facebook">Log in with Facebook now. Or else.</a>
        </aside>
      </div>
      <div class="copyright">
        <small>
          &copy; 2014, Nick Salloum<br><a href="http://callmenick.com">callmenick.com</a>
        </small>
      </div>
    </div>
  </footer><!-- /footer -->
  
</div><!-- /#wrapper -->

<!-- analytics -->
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-34160351-1']);
_gaq.push(['_trackPageview']);
(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>