<p id="notice"><%= notice %></p>

<a href="/auth/facebook"><h1>Log in with Facebook</h1></a>
<h2> and never look back</h2>

<div class="wrapper">

  <main>
    <section class="module content">
        <div class="container">
          <h2 style="text-align: center;">First there was</h2>
        </div>
    </section>

    <section class="module parallax parallax-1">
      <div class="container">
        <h1>nothing</h1>
      </div>
    </section>

    <section class="module content">
      <div class="container">
        <h2 style="text-align: center;">But now there is</h2>
      </div>
    </section>

    <section class="module parallax parallax-2">
      <div class="container">
        <h1>something</h1>
      </div>
    </section>

    <section class="module content">
      <div class="container">
        <h2>I want to eat</h2>
      </div>
    </section>

    <section class="module parallax parallax-3">
      <div class="container">
        <h1>everything</h1>
      </div>
    </section>

    <section class="module content">
      <div class="container">
        <h2>
          .
        </h2>
        <p>
          .
        </p>
        <p>
          .
        </p>
        <p>
          .
        </p>
        <p>
          .
        </p>
      </div>
    </section>

    <section class="module parallax parallax-4">
      <div class="container">
        <h1>Hungr.</h1>
      </div>
    </section>

    <section class="module content">
      <div class="container">
      </div>
    </section>

  </main>

  <footer>
    <div class="container">
      <div class="asides clearfix">
        <aside class="logo">
          <a href="/auth/facebook">Log in with Facebook now. Or else.</a>
        </aside>
      </div>
    </div>
  </footer>
  
</div>
